.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.app-link {
  color: #61dafb;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  { 
    .app-header{
      display:flex;
      flex-direction:column;
      justify-content: space-around;
    }
}