.article-container {
  text-align: left;
  padding: 5px 10px;
  margin: 1em 4em;
  border: 1px solid black;
  box-shadow: 3px 3px gray;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 2rem;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  { 
    .article-container{
      margin: 1em 1em
    }
}